#real-alert{
    color: red;
    font-size: larger;
    font-style: italic;

} 
#test-only{
    color: darkblue;
    font-size: larger;
    font-style: oblique;
    
}
.missile-link{
    
display: block;
    
}

